body{
    text-align: center;
    background-color: black;
}

.Pannel{
    width: 200px; height: 200px;
    display: inline-block;
    cursor: pointer;
}

.Pannel:hover{
    box-shadow: 0px 0px 5px cyan;
    box-sizing: border-box;
}

.Top-Left-Pannel{
    background-color: red;
    border-top-left-radius: 100%;
}

.Top-Right-Pannel{
    background-color: purple;
    border-top-right-radius: 100%;
}

.Bottom-Left-Pannel{
    background-color: lawngreen;
    border-bottom-left-radius: 100%;
}

.Bottom-Right-Pannel{
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.Center{
    width: 250px; height: 250px;
    border-radius: 100%;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 284px; left: 632px;
}

.active{
    background-color: white;
}

.PlayButton{
    width: 250px; height: 100px;
    background-color: grey;
    text-transform: uppercase;
    font-size: 80px;
    display: inline-block;
    position: absolute;
    top: 360px; left: 632px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.PlayButton:hover{
    box-shadow: 0px 0px 10px red;
    box-sizing: border-box;
}

.Pannel:disabled{
    background-color: transparent;
    color: transparent;
}

.PlayButton:disabled{
    background-color: transparent;
    color: transparent;
}

.navBar{
    display: flex;
    justify-content: space-between;
}

.navBar > div{
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.Game{
    padding-top: 145px;
}